<html>
<body>
<footer id="footer">
    <div class="footer-logo-wrapper">
        <svg class="footer-logo" xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 805.93 1044.03">
            <defs><style>.cls-4{fill:none;stroke:var(--bc-purple);stroke-miterlimit:10;stroke-width:45px;}.cls-5{font-size:92.32px;fill:var(--bc-purple);font-family:DINPro, DIN Pro;letter-spacing:0.26em;}.cls-5{letter-spacing:0.28em;}</style></defs>
            <title>icon-wtext</title>
            <polyline class="cls-4" points="518.08 328.59 783.43 177.13 783.43 39 401.75 258.32 22.5 39 22.5 183.8 588.35 507.92 510.81 553.96 783.43 706.63 783.43 839.92 402.97 621.82 22.5 839.92 22.5 707.85 386 497.02"/>
            <text class="cls-5" transform="translate(187.07 1022.89)">T<tspan class="cls-5" x="74.41" y="0">WEETME</tspan></text>
        </svg>
    </div>
        <div class="footer-right">
            <div class="footer-links">
                <a class="footer-link fl-first" href="https://www.youtube.com/channel/UCfstx-8p0M5K1KTBUB4ORLQ" target="_blank">YouTube.</a>
                <a class="footer-link" href="https://twitter.com/xcraftserver" target="_blank">Twitter.</a>
                <a class="footer-link" href="https://www.instagram.com/xcraftofficial/" target="_blank">Instagram.</a>
                <a class="footer-link fl-last" href="https://discordapp.com/invite/G7yJ2Ww" target="_blank">Discord.</a>
            </div>
            <div class="footer-text">
                <p>&copy2021. All rights reserved.</p>
                <p>Made with ♥ by Gautam Rastogi</p>
            </div>

    </div>
</footer> 
</body>
</html>